{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  <!-- Breadcrumb -->
  <div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
      <div class="f2-s-1 p-r-30 m-tb-6">
        <a href="/" class="breadcrumb-item f1-s-3 cl9">
					صفحه اصلی
				</a>
        <a href="{% url 'blog:blog'%}" class="breadcrumb-item f1-s-3 cl9">
					لیست اخبار 
				</a>
      </div>
        <!--Search-->
      
      
    </div>
  </div>

  <!-- Page heading -->
  <div class="container p-t-4 p-b-40">
    <h2 class="f1-l-1 cl2">لیست اخبار</h2>
  </div>

  <!-- Post -->
  <section class="bg0 p-b-55">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 p-b-80">
          <div class="p-r-10 p-r-0-sr991">
            <div class="m-t--40 p-b-40">
              <!-- Item post -->
              {% for post in posts %}
                <div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
                  <a href="{% url 'blog:post_detail' num=post.id %}" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
                    <img src="{{post.image.url}}" alt="IMG" /></a>

                  <div class="size-w-9 w-full-sr575 m-b-25">
                    <h5 class="p-b-12">
                      <a href="{% url 'blog:post_detail' num=post.id %}" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">{{post.title }}</a></h5>
                    <div class="cl8 p-b-18">
                      <a href="{% url 'blog:author' author=post.author %}" class="f1-s-4 cl8 hov-cl10 trans-03">نویسنده:{{post.author|upper}}</a>

                      <span class="f1-s-3 m-rl-3">-</span>

                      <span class="f1-s-3">{{post.created_time |jalali_date}}</span>
                    </div>

                    <p class="f1-s-1 cl6 p-b-24">{{post.description| truncatewords:25}}</p>

                    <a href="{% url 'blog:post_detail' num=post.id %}" class="f1-s-1 cl9 hov-cl10 trans-03">
                     اطلاعات بیشتر
                      <i class="m-l-2 fa fa-long-arrow-alt-right"></i>
                    </a>
                  </div>
                </div>
              {% endfor %}
            </div>

            <a href="#" class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03">Load More</a>
          </div>
        </div>

        <div class="col-md-10 col-lg-4 p-b-80">
          <div class="p-l-10 p-rl-0-sr991">
            <!-- Subscribe -->
            {% comment %} <div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-50">
              <h5 class="f1-m-5 cl0 p-b-10">Subscribe</h5>

              <p class="f1-s-1 cl0 p-b-25">Get all latest content delivered to your email a few times a month.</p>

              <form class="size-a-9 pos-relative">
                <input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" name="email" placeholder="Email" />

                <button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03"><i class="fa fa-arrow-right"></i></button>
              </form>
            </div> {% endcomment %}

            {% include 'blog/includes/blog-search.html' %}
            <!-- Recent news -->
            {% recent_news %}
            <!-- category -->
            {% category %}
            <!-- Tag -->
            {% include 'blog/includes/blog-tags.html' %}
            {% news_tags %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
{% endblock %}




